        /*Mixin Elements (Block Wrappers)*/



.body__section {
        width: 100%;
    }

.section-introduction__wrapper,
.section-card__wrapper,
.section-payment-control__wrapper,
.section-purchase-transparency__wrapper,
.section-device__wrapper,
.section-conclusion__wrapper,
.section-conclusion__wrapper {
    margin-left: 19px;
    margin-right: 19px;
}

.section-intoduction__header,
.section-footer__footer {
    width: 100%;
}

.header__logo {
    display: inline-block;
    width: 130px;
    height: 34px;
    margin-bottom: 15px;
}

.header__menu {
    display: none;
}

.header__dropdown-menu {
    display: inline-block;
    vertical-align: middle;
}

.header__introduction {
    margin-top: 45px;
}

.header__video-button {
    text-align: center;
    margin: 60px 0 60px 0;
}

.header__email-form,
.section-footer__email-form {
    margin: 0 auto;
}

.section-card__image {
    display: block;
    margin: 68px auto;
}

.section-payment__image {
    display: block;
    margin: 0 auto;
}

.section-purchase-transparency__image {
    display: block;
    margin: 50px auto;
}

.section-device__images {
    position: relative;
}

.section-conclusion__content {
    width: 100%;
}

.section-conclusion__image {
    display: block;
    margin: 45px auto;
    width: 300px;
}

.section-footer__email-form {
    margin-top: 425px;
    margin-bottom: 340px;
}

.footer__social-networks-menu {
    margin-top: 20px;
    margin-bottom: 20px;
}









        /*Blocks*/

.body {
    width: 100%;
}

.section-intoduction {
    height: 665px;
    background-image: url("page_1_background_947.jpg");
    background-size: 947px;
    background-position: center top;
    padding-top: 15px;
}

.header/*,
.footer*/ {
    text-align: justify;
}

.header-logo {
    /*padding-top: 7px;*/
    vertical-align: middle;
}

.dropdown-menu {
    width: 30px;
    height: 20px;
}

.menu {
    list-style: none;
    /*text-align: right;*/
}

.video-button {
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
}

.email-form {
    height: 52px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 7px;
    padding: 6px 6px 6px 18px;
}

.paragraph {
    font-family: Nunito, sans-serif;
    font-size: 19px;
    line-height: 29px;
    font-weight: 300;
    color: #4e4e4e;
    margin-top: 20px;
    text-align: center;
}

.text-header {
    font-family: Abel, sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 50px;
    color: #28304f;
    margin-bottom: 70px;
    text-align: center;
}

.section-card {
    padding: 65px 0 32px 0;
    border-bottom: 1px solid #c1ebf5;
}

.safe-card-image {
    width: 403px;
    height: 284px;
    /*background-color: blue;*/
    /*box-shadow: 0 40px 50px 20px rgba(0, 0, 0, .2)*/
}

.section-payment-control {
    background: -webkit-linear-gradient(top, #edf8fd 0%, #fff 20%, #fff 100%);
    padding-top: 35px;
    padding-bottom: 25px;
}

.payment-control-image {
    width: 267px;
    height: 376px;
    /*background-color: #eee;*/
}

.payment-control-text {
    padding-top: 5px;
}

.section-purchase-transparency {
    background-image: URL(SVG/Transparency-Background.svg);
    background-position: 28% 0;
    background-size: 1800px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.purchase-transparency-image {
    width: 100%;
    /*height: 290px;*/
    /*background-color: #eee;*/
}

.section-device {
    padding-top: 75px;
    padding-bottom: 55px;
    border-bottom: 1px solid #c1ebf5;
}

.section-conclusion {
    background: -webkit-linear-gradient(top, #edf8fd 0%, #fff 20%, #fff 100%);
    padding-top: 15px;
}

.conclusion-image {
    width: 300px;
    height: 300px;
    /*background-color: #eee; */
    /*border-radius: 50%;*/
}

.section-footer {
    background-image: URL(SVG/Footer-Background.svg);
    background-size: 1800px;
    background-position: 30% 0%;
    padding-top: 40px;
}

.footer-menu, 
.footer-social-networks-menu {
    text-align: center;
}






        /*Elements*/

.header-logo__image {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 14px;
}

.header-logo__text {
    display: inline-block;
    font-family: Nunito, sans-serif;
    font-size: 19px;
    line-height: 34px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    vertical-align: top;
}

.header__big-horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #afeeee;
    display: inline-block;
}

.header__introduction-h1,
.header__introduction-h2 {
    display: block;
    text-align: center;
    color: #fff;
    text-shadow: -1px 2px 2px rgba(153, 153, 153, .8);
    font-family: 'Mayberry Pro Light', Abel, sans-serif;
    font-weight: normal;
}

.header__introduction-h1 {
    font-size: 40px;
    line-height: 66px;
}

.header__introduction-h2 {
    font-size: 25px;
    line-height: 30px;
}

.header__horizontal-line {
    display: none;
}    

.video-button__play {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    vertical-align: middle;
}

.video-button__link {
    font-family: 'Aaux Next Hairline', Nunito, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.email-form__input-width {
    margin-right: 58px;
}

.email-form__input {
    width: 100%; /*Криво работает: при сокращении размера справа влезает какое-то поле*/
    border: none;
    padding: 10px 0;
    font-family: Abel, sans-serif;
    font-size: 16px;
    color: #787878;
    background-color: transparent;
}

.email-form__button {
    width: 52px;
    height: 52px;
    vertical-align: middle;
    float: right;
    background-color: #52a5bf;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.email-form__image {
    width: 31px;
    height: 29px;
    margin-left: -2px;
}

.payment-control-text__image,
.purchase-transparency-text__image,
.section-device-text__image {
    margin: 45px auto;
    width: 100px;
    height: 100px;
    /*background-color: #eaf9ff;*/
    /*border: 2px solid #70c7dc;*/
    /*border-radius: 50%;*/
    display: block;
}

.section-payment__image-underline {
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}

.section-purchase-transparency__image-wrapper {
    max-width: 365px;
    margin: 0 auto;
}

/*почему img со свойством display:block не воспринимает max-width?
почему для этого пришлось делать контейнер?*/

.section-device-images__laptop-wrapper {
    max-width: 370px;
    margin: 0 auto;
}

.section-device-images__laptop {
    display: block;
    width: 100%;
    /*max-width: 370px; /*max-width*/
    /*max-height: 240px; /*max-height
    /*background-color: #eee;*/
}

.section-device-images__phone {
    display: block;
    width: 70px;
    height: 145px;
    /*background-color: blue;*/
    position: absolute;
    top: 105px;
    left: 50%;
    margin-left: -35px;
}

.footer__big-horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 45px;
}

.footer__logo-copyright {
    width: 245px;
    margin: 0 auto;
}

.footer__copyright {
    display: inline-block;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    color: #000;
}

.footer-menu__item {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    color: #000;
}

.footer-menu__item,
.footer-social-networks-menu__item {
    padding-bottom: 20px;
}

.footer-menu__link {
    color: #000;
    text-decoration: none;
}

.footer-social-networks-menu__link {
    display: inline-block;
    /*background-color: blue;*/
}

.footer-social-networks__image {
    width: 15px;
    height: 15px;
}






        /*Modifiers*/

.section-card__image_large, 
.section-purchase-transparency__image_large,
.footer__logo-copyright_large {
    display: none;
}










@media all and (min-width: 485px) {
    
    /*Mixin Elements (Block Wrappers)*/
    
    .footer__menu-social-menu {
        width: 360px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .footer__menu, 
    .footer__social-networks-menu {
        display: inline-block;
        vertical-align: top;
    }
    
    .footer__social-networks-menu {
        margin-top: 0;
    }
    
    
    /*Blocks*/
    
    .safe-card-image {
        width: 496px;
        height: 350px;
    }
    
    .footer-menu, 
    .footer-social-networks-menu {
        width: 180px;
    }
    
    
    
    
    /*Elemets*/
    
    /*Modifiers*/
    
}




@media all and (min-width: 526px) {

    /*Mixin Elements (Block Wrappers)*/

    /*Blocks*/

    /*Elemets*/

    .section-purchase-transparency__image-wrapper {
        max-width: 510px;
    }

    /*Modifiers*/


}

@media all and (min-width: 585px) {

    /*Mixin Elements (Block Wrappers)*/

    /*Blocks*/

    /*Elemets*/

    .header__introduction-h1 {
        font-size: 49px;
    }

    .header__introduction-h2 {
        font-size: 34px;
    }

    /*Modifiers*/


}


@media all and (min-width: 625px) {

    /*Mixin Elements (Block Wrappers)*/

    /*Blocks*/

    .payment-control-image {
        width: 467px;
        height: 659px;
    }

    /*Elemets*/

    .payment-control-text__image,
    .purchase-transparency-text__image,
    .section-device-text__image {
        width: 160px;
        height: 160px;
    }

    .section-purchase-transparency__image-wrapper {
        max-width: 710px;
    }

    .section-device-images__laptop-wrapper {
        max-width: 490px;
    }
    
    .section-device-images__phone {
        width: 107px;
        height: 222px;
        /*top: 105px;*/
        margin-left: -53px;
    }

    /*Modifiers*/


}


@media all and (min-width: 738px) {
    
    /*Mixin Elements (Block Wrappers)*/


    /*Blocks*/
    
    .email-form {
        width: 622px;
        height: 80px;
        /*background-color: rgba(255, 255, 255, .6);*/
        /*border-radius: 7px;*/
        padding: 10px 10px 10px 18px;
    }
    
    /*Elemets*/
    
    .header__introduction-h1 {
        font-size: 60px;
    }
    
    .email-form__input {
        width: 542px;
        padding: 30px 0 10px 0;
        font-size: 27px;
    }
    
    .email-form__button {
        width: 80px;
        height: 80px;
    }
    
    .email-form__image {
        width: 48px;
        height: 44px;
        margin-left: -4px;
    }
    
    /*Modifiers*/


}



@media all and (min-width: 754px) {
    
    /*Mixin Elements (Block Wrappers)*/


    /*Blocks*/
    
    
    /*Elemets*/

    .section-device-images__laptop-wrapper {
        max-width: 712px;
    }
    
    .section-device-images__phone {
        width: 190px;
        height: 394px;
        left: 100px;
        margin-left: 0;
    }

    
    /*Modifiers*/


}


@media all and (min-width: 789px) {
    
    /*Mixin Elements (Block Wrappers)*/
    
    .header__introduction {
        margin-top: 90px;
    }

    /*Blocks*/
    
    
    /*Elemets*/

    

    
    /*Modifiers*/


}





@media all and (min-width: 948px) {
    
    /*Mixin Elements (Block Wrappers)*/


    /*Blocks*/
    
    .section-intoduction {
        height: 765px;
        background-image: url("page_1_background_1264.jpg");
        background-size: 1264px;
    }
    
    /*Elemets*/

    
    /*Modifiers*/


}



@media all and (min-width: 1008px) {
    
    
    /*Mixin Elements (Block Wrappers)*/
    
    .section-introduction__wrapper,
    .section-card__wrapper,
    .section-payment-control__wrapper,
    .section-purchase-transparency__wrapper,
    .section-device__wrapper,
    .section-conclusion__wrapper,
    .section-footer__wrapper {
        margin-left: 7%;
        margin-right: 7%;
    }
    
    .section-card__text {
        display: inline-block;
        width: 36%;
        vertical-align: top;
    }
    
    .section-card__image {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 50px;
    }
    
    .section-purchase-transparency__image-wrapper {
        display: inline-block;
        padding-left: 30px;
        width: 62%;
    }
    
    .section-purchase-transparency__image {
        max-width: 710px;
        margin-left: 70px;
    }
    
    .section-payment-control__wrapper,
    .section-device__wrapper,
    .section-conclusion__content {
        text-align: justify;
    }
    
    .section-payment__image {
        display: inline-block;
        margin-left: 30px;
        vertical-align: bottom;
    }
    
    /*.section-payment__image,*/
    .section-device__images {
        display: inline-block;
    }
    
    .section-payment__text {
        display: inline-block;
        width: 42%;
        margin-right: 3%;
        padding-bottom: 30px;
    }
    
    .section-purchase-transparency__text {
        /*margin-right: 58%;*/
        display: inline-block;
        width: 33%;
        vertical-align: top;
    }
    
    .section-device__images {
        padding-top: 70px;
        width: 60%;
        /*position: relative;*/
        vertical-align: bottom;
    }
    
    .section-device-images__laptop-wrapper {
        max-width: 705px;
    }
    
    .section-device__text {
        display: inline-block;
        width: 30%;
        vertical-align: bottom;
    }
    
    .section-conclusion__text {
        display: inline-block;
        width: 45%;
    }
    
    /*Когда этот класс был присвоен самому изображению в рамках
    микса, justify не работал: изображение клеилось к тексту слева;
    при этом text-align: right прекрасно срабатывал*/
    .section-conclusion__image {
        display: inline-block;
        margin: 0 15% 0 0;
    }
    
    
    
    
    
    
    
    /*Blocks*/
    
    .paragraph {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
        text-align: left;
    }
    
    .text-header {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: left;
    }
    
    .section-card {
        padding: 115px 0 110px 0;
        /*border-bottom: 1px solid #c1ebf5;*/
    }
    
    /*.safe-card-image {*/
    /*    width: 400px;*/
    /*    height: 261px;*/
    /*}*/
    
    .section-payment-control {
        padding-top: 95px;
        padding-bottom: 0;
    }
    
    .payment-control-image {
        width: 416px;
        height: 585px;
        /*background-color: #eee;*/
    }
    
    .section-purchase-transparency {
        background-position: 15% 0;
        /*background-size: 1500px;*/
        padding-top: 130px;
        padding-bottom: 200px;
    }
    
    .purchase-transparency-image {
        width: 100%;
    }
    
    .section-device {
        padding-top: 110px;
        padding-bottom: 155px;
        /*border-bottom: 1px solid #c1ebf5;*/
    }
    
    .section-device-images {
        padding-top: 70px;
    }
    
    .section-conclusion {
        /*background: -webkit-linear-gradient(top, #edf8fd 0%, #fff 20%, #fff 100%);*/
        padding-top: 70px;
    }
    
    .section-footer {
        padding-bottom: 50px;
    }
    
    
    
    
    
    
    /*Elemets*/
    
    .purchase-transparency-text__clear {
        clear: both;
    }
    
    .payment-control-text__image,
    .purchase-transparency-text__image,
    .section-device-text__image {
        margin-bottom: 30px;
        margin-top: 0;
        width: 120px;
        height: 120px;
        /*background-color: #eaf9ff;*/
        /*border: 2px solid #70c7dc;*/
        /*border-radius: 50%;*/
        display: inline-block;
    }
    
    .section-payment__image-underline {
        display: none;
    }
    
    .section-payment-control__justify,
    .section-device__justify,
    .section-conclusion__content-justify {
        width: 100%;
        display: inline-block;
    }
    
    .section-device-images__laptop {
        width: 100%;
        /*height: 363px;*/
        margin: 0 0 0 5%;
    }
    
    .section-device-images__phone {
        width: 135px;
        height: 282px;
        top: 200px;
        left: 0;
        /*margin-left: 0;*/
    }
    
    
    
    
    
    
    
    /*Modifiers*/
    
    /*.section-card__image_large {*/
    /*    float: right;*/
    /*    display: block;*/
    /*}*/
    
    /*.safe-card-image_large {*/
    /*    width: 400px;*/
    /*    height: 261px;*/
    /*    box-shadow: 0 40px 50px 20px rgba(0, 0, 0, .2)*/
    /*}*/
    

}




@media all and (min-width: 1185px) {
    
    
    /*Mixin Elements (Block Wrappers)*/
    
    .header__introduction {
        margin-top: 160px;
    }
    
    .section-card__text {
        width: 35%;
    }
    
    .section-payment__text {
        width: 40%;
    }
    
    
    
    
    
    /*Blocks*/
    
    .paragraph {
        font-size: 18px;
        line-height: 24px;
    }
    
    .text-header {
        font-size: 36px;
        margin-bottom: 40px;
    }
    
    .section-card {
        padding: 190px 0 180px 0;
        /*border-bottom: 1px solid #c1ebf5;*/
    }
    
    .safe-card-image {
        width: 608px;
        height: 429px;
    }
    
    .section-payment-control {
        padding-top: 165px;
    }
    
    .payment-control-image {
        width: 524px;
        height: 737px;
    }
    
    .section-purchase-transparency {
        /*background-color: #bde6f8;*/
        padding-top: 195px;
        padding-bottom: 205px;
    }
    
    .section-device {
        padding-top: 175px;
        padding-bottom: 180px;
    }
    
    .section-conclusion {
        padding-top: 100px;
    }
    
    
    
    /*Elemets*/
    
    .payment-control-text__image,
    .purchase-transparency-text__image,
    .section-device-text__image {
        /*margin-bottom: 45px;*/
        /*margin-top: 0;*/
        width: 138px;
        height: 138px;
        /*background-color: #eaf9ff;*/
        /*border: 2px solid #70c7dc;*/
        /*border-radius: 50%;*/
        /*display: inline-block;*/
    }
    
    
    
    
    
    
    
    /*Modifiers*/
    
    
    

}


@media all and (min-width: 1282px) {
    
    
    /*Mixin Elements (Block Wrappers)*/
    
    .section-introduction__wrapper,
    .section-card__wrapper,
    .section-payment-control__wrapper,
    .section-purchase-transparency__wrapper,
    .section-device__wrapper,
    .section-conclusion__wrapper,
    .section-footer__wrapper {
        /*margin-left: 7%;*/
        margin-right: 9%;
    }
    
    .section-intoduction__header,
    .section-footer__footer {
        width: 90%;
        margin: 0 auto;
    }
    
    .header__logo {
        display: inline-block;
        width: 300px;
    }
    
    .header__menu {
        margin-bottom: 28px;
        display: inline-block;
    }
    
    .header__dropdown-menu {
        display: none;
    }
    
    
    
    
    
    
    /*Blocks*/
    
    .section-intoduction {
        height: 857px;
        background-image: url("page_1_background_1500.jpg");
        background-size: 1800px;
        padding-top: 28px;
    }
    
    .header-logo {
        padding-top: 0;
    }
    
    .header-menu {
        text-align: right;
        width: 600px; 
    }

    
    
    
    /*Elemets*/
    
    .header-logo__image {
        display: inline-block;
        width: 47px;
        height: 47px;
        margin-right: 18px;
    }
    
    .header-logo__text {
        font-size: 27px;
        letter-spacing: 5px;
        line-height: 47px;
    }
    
    .header-menu__item {
        display: inline-block;
        font-family: Nunito, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        color: white;
        padding-left: 75px;
    }
    
    .header-menu__link {
        color: white;
        text-decoration: none;
    }
    
    
    
    
    
    
    
    /*Modifiers*/
    
    .header-menu__item_bordered {
        border: 2px solid #fff;
        border-radius: 8px;
        padding: 10px 24px;
        margin-left: 49px;
    }
    
    

}








@media all and (min-width: 1500px) {

    /*Mixin Elements (Block Wrappers)*/


    /*.section-introduction__wrapper,*/
    /*.section-card__wrapper,*/
    /*.section-payment-control__wrapper,*/
    /*.section-purchase-transparency__wrapper,*/
    /*.section-device__wrapper,*/
    /*.section-conclusion__wrapper {*/
        /*margin-left: 7%;*/
    /*    margin-right: 9%;*/
    /*}*/
    
    /*.section-intoduction__header,*/
    /*.section-footer__footer {*/
    /*    width: 90%;*/
    /*    margin: 0 auto;*/
    /*}*/
    
    /*.header__logo {*/
    /*    display: inline-block;*/
    /*    width: 300px;*/
    /*}*/
    
    /*.header__menu {*/
    /*    margin-bottom: 28px;*/
    /*    display: inline-block;*/
    /*}*/
    
    /*.header__dropdown-menu {*/
    /*    display: none;*/
    /*}*/
    
    .header__introduction {
        margin-top: 100px;
    }
    
    /*.header__video-button {*/
    /*    text-align: center;*/
    /*    margin: 60px 0 60px 0;*/
    /*}*/
    
    /*.header__email-form,*/
    /*.section-footer__email-form {*/
    /*    margin: 0 auto;*/
    /*}*/
    
    .section-card__text {
        width: 40%;
    }
    
    .section-card__image {
        margin-left: 130px;
    }
    
    .section-purchase-transparency__image {
        width: 705px;
        margin-left: 120px;
    }
    
    /*.section-purchase-transparency__image {*/
    /*    display: none;*/
    /*}*/
    
    .section-payment__image {
        margin-left: 1%;
    }
    
    /*.section-payment__image,*/
    /*.section-device__images {*/
    /*    float: left;*/
    /*}*/
    
    /*.section-payment__text {*/
    /*    margin-left: 55%;*/
    /*}*/
    
    /*.section-purchase-transparency__text {*/
    /*    margin-right: 63%;*/
    /*}*/
    
    .section-device__images {
        padding-top: 80px;
        /*position: relative;*/
        width: 710px;
    }
    
    .section-device__text {
        width: 35%;
    }
    
    /*.section-conclusion__content {*/
    /*    width: 100%;*/
    /*}*/
    
    .section-conclusion__text {
    /*    margin-right: 40%;*/
        width: 40%;
    }
    
    .section-conclusion__image {
    /*    float: right;*/
    /*    display: block;*/
        margin-right: 20%;
    }
    
    .footer__menu-social-menu {
        display: inline-block;
        width: 780px;
        text-align: right;
        margin-bottom: 0;
    }
    
    .footer__menu {
        /*display: inline-block;*/
    }
    
    .footer__social-networks-menu {
        /*display: inline-block;*/
        /*margin-top: 0;*/
        margin-bottom: 0;
    }
    
    
    
    
                    /*Blocks*/
    
    
    /*.body {*/
    /*    width: 100%;*/
    /*}*/
    
    .section-intoduction {
        /*height: 857px;*/
        background-image: url("page_1_background.jpg");
        background-size: cover;
        /*padding-top: 28px;*/
    }
    
    /*.header,*/
    .footer {
        text-align: justify;
    }
    
    /*.header-logo {*/
    /*    padding-top: 0;*/
    /*}*/
    
    /*.menu {*/
        /*list-style: none;*/
    /*    text-align: right;*/
    /*}*/
    
    /*.header-menu {*/
    /*   width: 600px; */
    /*}*/
    
    /*.video-button {*/
    /*    padding: 8px;*/
    /*    border: 2px solid #fff;*/
    /*    border-radius: 50px;*/
    /*    display: inline-block;*/
    /*}*/
    
    /*.email-form {*/
    /*    width: 455px;*/
    /*    height: 55px;*/
        /*background-color: rgba(255, 255, 255, .6);*/
        /*border-radius: 7px;*/
    /*    padding: 7px 7px 7px 20px;*/
    /*}*/
    
    .paragraph {
        /*font-family: 'Aaux Next Hairline', Nunito, sans-serif;*/
        font-size: 20px;
        line-height: 34px;
        /*font-weight: 300;*/
        /*color: #4e4e4e;*/
        margin-top: 24px;
        /*text-align: left;*/
    }
    
    .text-header {
        /*font-family: 'Mayberry Pro Light', Abel, sans-serif;*/
        /*font-weight: normal;*/
        font-size: 38px;
        /*color: #28304f;*/
        margin-bottom: 60px; /* Не пойму, почему отступ плохо работает:
        судя по сайту, это явно не 60px */
        /*text-align: left;*/
    }
    
    .section-card {
        padding: 160px 0 220px 0;
        /*border-bottom: 1px solid #c1ebf5;*/
    }
    
    /*.safe-card-image {*/
    /*    width: 490px;*/
    /*    height: 320px;*/
    /*}*/
    
    .section-payment-control {
        /*background: -webkit-linear-gradient(top, #edf8fd 0%, #fff 20%, #fff 100%);*/
        padding-top: 150px;
        /*padding-bottom: 0;*/
    }
    
    .payment-control-text {
        padding-top: 180px;
    }
    
    .payment-control-image {
        width: 650px;
        height: 914px;
        /*background-color: #eee;*/
    }
    
    .section-purchase-transparency {
        padding-top: 230px;
        padding-bottom: 160px;
    }
    
    .section-device {
        padding-top: 190px;
        padding-bottom: 270px;
        /*border-bottom: 1px solid #c1ebf5;*/
    }
    
    .section-conclusion {
        /*background: -webkit-linear-gradient(top, #edf8fd 0%, #fff 20%, #fff 100%);*/
        padding-top: 120px;
    }
    
    .section-footer {
        padding-top: 105px;
    }
    
    .conclusion-image {
        width: 410px;
        height: 410px;
        /*background-color: #eee; */
        /*border-radius: 50%;*/
    }
    
    .footer-menu {
        width: 600px;
    }
    
    .footer-social-networks-menu {
        /*width: 180px;*/
    }
    
    
                    
    
    
    
    
                    /*Elements*/
    
    
    /*.payment-control-text__clear,*/
    /*.purchase-transparency-text__clear {*/
    /*    clear: both;*/
    /*}*/
    
    /*.header-logo__image {*/
    /*    display: inline-block;*/
    /*    width: 47px;*/
    /*    height: 47px;*/
    /*    margin-right: 18px;*/
    /*}*/
    
    /*.header-logo__text {*/
        /*font-family: Nunito, sans-serif;*/
    /*    font-size: 27px;*/
    /*    letter-spacing: 5px;*/
    /*    line-height: 47px;*/
        /*text-transform: uppercase;*/
        /*color: white;*/
    /*}*/
    
    /*.header-menu__item {*/
    /*    display: inline-block;*/
    /*    font-family: Nunito, sans-serif;*/
    /*    font-size: 14px;*/
    /*    text-transform: uppercase;*/
    /*    color: white;*/
    /*    padding-left: 75px;*/
    /*}*/
    
    /*.header-menu__link {*/
    /*    color: white;*/
    /*    text-decoration: none;*/
    /*}*/
    
    /*.header__big-horizontal-line {*/
    /*    width: 100%;*/
    /*    height: 1px;*/
    /*    background-color: #afeeee;*/
    /*    display: inline-block;*/
    /*}*/
    
    /*.header__introduction-h1,*/
    /*.header__introduction-h2 {*/
    /*    display: block;*/
    /*    text-align: center;*/
    /*    color: white;*/
    /*    text-shadow: -1px 2px 2px rgba(153, 153, 153, .8);*/
    /*    font-family: 'Mayberry Pro Light', Abel, sans-serif;*/
    /*    font-weight: normal;*/
    /*}*/
    
    .header__introduction-h1 {
        /*font-size: 57px;*/
        line-height: 90px;
    }
    
    .header__introduction-h2 {
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    
    .header__horizontal-line {
        display: block;
        width: 420px;
        height: 2px;
        background: -webkit-linear-gradient(right, rgba(175, 238, 238, 0.3) 0%, rgba(175, 202, 218, 1) 50%, rgba(175, 202, 218, 0.3) 100%);
        margin: 0 auto;
    }
    
    /*.video-button__link {*/
    /*    font-family: 'Aaux Next Hairline', Nunito, sans-serif;*/
    /*    font-size: 15px;*/
    /*    font-weight: 300;*/
    /*    color: #fff;*/
    /*    text-decoration: none;*/
    /*}*/
    
    /*.email-form__input {*/
    /*    width: 400px;*/
        /*border: none;*/
    /*    padding: 10px 0;*/
        /*font-family: Abel, sans-serif;*/
    /*    font-size: 25px;*/
        /*color: #787878;*/
        /*background-color: transparent;*/
    /*}*/
    
    /*.email-form__button {*/
    /*    width: 55px;*/
    /*    height: 55px;*/
        /*vertical-align: middle;*/
        /*background-color: #52a5bf;*/
        /*border: none;*/
        /*border-radius: 7px;*/
        /*cursor: pointer;*/
    /*}*/
    
    .payment-control-text__image,
    .purchase-transparency-text__image,
    .section-device-text__image {
        margin-bottom: 45px;
        /*margin-top: 0;*/
        width: 160px;
        height: 160px;
        /*background-color: #eaf9ff;*/
        /*border: 2px solid #70c7dc;*/
        /*border-radius: 50%;*/
        /*display: inline-block;*/
    }
    
    /*.section-payment__image-underline {*/
    /*    display: none;*/
    /*}*/
    
    .section-device-images__laptop {
        width: 710px;
        height: 465px;
        /*background-color: #eee;*/
        /*margin: 0 0 0 5%;*/
    }
    
    .section-device-images__phone {
        width: 170px;
        height: 355px;
        /*background-color: blue;*/
        /*position: absolute;*/
        top: 220px;
        /*left: 0;*/
        /*margin-left: 0;*/
    }
    
    /*.section-conclusion__content-clear {*/
    /*    width: 100%;*/
    /*    clear: both;*/
    /*}*/
    
    .footer__big-horizontal-line {
        /*width: 100%;*/
        /*height: 1px;*/
        background-color: #000;
        display: inline-block;
        /*margin-bottom: 45px;*/
    }
    
    .footer__justify {
        width: 100%;
        display: inline-block;
    }
    
    .footer-menu__item {
        display: inline-block;
        /*font-family: Nunito, sans-serif;*/
        /*font-size: 14px;*/
        /*color: #000;*/
    }
    
    .footer-menu__item,
    .footer-social-networks-menu__item {
        padding-left: 75px;
        padding-bottom: 0;
    }
    
    /*.footer-menu__link {*/
    /*    color: #000;*/
    /*    text-decoration: none;*/
    /*}*/
    
    .footer-social-networks-menu__item {
        display: inline-block;
    }
    
    /*.footer-social-networks-menu__link {*/
        /*display: inline-block;*/
        /*width: 15px;*/
        /*height: 15px;*/
        /*background-color: blue;*/
    /*}*/
    
    .footer__logo-copyright {
        display: none;
    }
    
    
    
    
    
    
                    /*Modifiers*/
                    
    
    /*.header-menu__item_bordered {*/
    /*    border: 2px solid #fff;*/
    /*    border-radius: 8px;*/
    /*    padding: 10px 24px;*/
    /*    margin-left: 49px;*/
    /*}*/
    
    /*.section-card__image_large {*/
    /*    float: right;*/
    /*    display: block;*/
    /*}*/
    
    /*.safe-card-image_large {*/
    /*    width: 490px;*/
    /*    height: 320px;*/
        /*background-color: blue;*/
    /*    box-shadow: 0 40px 50px 20px rgba(0, 0, 0, .2)*/
    /*}*/
    
    /*.section-purchase-transparency__image_large {*/
    /*    float: right;*/
    /*    display: block;*/
    /*}*/
    
    /*.purchase-transparency-image_large {*/
    /*    width: 705px;*/
    /*    height: 593px;*/
        /*background-color: #eee;*/
    /*}*/
    
    .footer__logo-copyright_large {
        display: inline-block;
        width: 245px;
    }
    
    .footer__copyright_large {
        display: inline-block;
        font-family: Nunito, sans-serif;
        font-size: 14px;
        color: #000;
    }

}