body {
  background-color: #fff;
  width: 100%;
  padding-top: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    padding-top: 45px;
  }
}
header,
main,
footer,
error404 {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  header,
  main,
  footer,
  error404 {
    max-width: 1024px;
  }
}
@media only screen and (min-width: 1025px) {
  header,
  main,
  footer, 
  error404 {
    max-width: 1140px;
  }
}
.logo {
  text-align: center;
}
.logo__newweb {
  width: 300px;
  height: 58px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .logo__newweb {
    width: 450px;
    height: 87px;
  }
}
@media only screen and (min-width: 1025px) {
  .logo__newweb {
    width: 573px;
    height: 111px;
  }
}
.topic-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.topic-menu__item {
  display: block;
  margin-right: 0;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .topic-menu__item {
    display: inline-block;
    margin-right: 30px;
  }
}
.topic-menu__link {
  font-family: Verdana, Arial, sans-serif;
  font-size: 29px;
  color: #ec8300;
  text-transform: uppercase;
  text-decoration: none;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .topic-menu__link {
    font-size: 32px;
  }
}
@media only screen and (min-width: 1025px) {
  .topic-menu__link {
    font-size: 32px;
  }
}
.topic-menu__link:hover {
  text-decoration: underline;
}
.picture {
  margin: 0 auto;
}
.picture__mobile {
  display: block;
  width: 100%;
  -webkit-clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
  clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .picture__mobile {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .picture__mobile {
    display: none;
  }
}
.picture__tablet {
  display: none;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .picture__tablet {
    display: block;
    width: 100%;
    -webkit-clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
    clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
  }
}
@media only screen and (min-width: 1025px) {
  .picture__tablet {
    display: none;
  }
}
.picture__pc {
  display: none;
}
@media only screen and (min-width: 1025px) {
  .picture__pc {
    display: block;
    width: 100%;
    -webkit-clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
    clip-path: polygon(97.5% 0, 100% 7.9%, 100% 100%, 2.5% 100%, 0% 92.1%, 0 0);
    box-shadow: 3px 3px 7px rgba(123,123,123,0.77);
  }
}
.newest-articles {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  border-bottom: 1px solid #42352e;
}
@media only screen and (min-width: 1025px) {
  .newest-articles {
    padding-top: 86px;
    text-align: justify;
    padding-bottom: 67px;
  }
}
.newest-articles__wrapper {
  width: 240px;
  display: inline-block;
  margin-bottom: 60px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .newest-articles__wrapper {
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1025px) {
  .newest-articles__wrapper:not(last-child) {
    margin-right: 20px;
  }
}
.newest-articles__headline {
  display: block;
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  color: #000;
  margin-bottom: 16px;
}
.newest-articles__background-image {
  display: table-cell;
  width: 240px;
  height: 74px;
  background-color: #ececec;
  text-align: center;
  vertical-align: middle;
}
.newest-articles__image {
  width: 226px;
  height: 54px;
}
.newest-articles__subhead {
  color: #000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 17px;
  line-height: 25px;
  margin-top: 20px;
}
.newest-articles__read-button-wrapper {
  text-align: right;
}
.newest-articles__read-button {
  display: inline-block;
  width: 119px;
  height: 35px;
  background-color: #ececec;
  margin-top: 23px;
  text-align: center;
  -webkit-clip-path: polygon(93% 0, 100% 23.6%, 100% 100%, 7% 100%, 0% 76.4%, 0 0);
  clip-path: polygon(93% 0, 100% 23.6%, 100% 100%, 7% 100%, 0% 76.4%, 0 0);
}
.newest-articles__read-button:hover {
  background-color: #f5f5f5;
}
.newest-articles__read-button:active {
  background-color: #c6c6c6;
}
.newest-articles__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 17px;
  line-height: 35px;
  vertical-align: middle;
}
.newest-articles__justify {
  display: inline-block;
  width: 100%;
}
.articles {
  padding-top: 74px;
  padding-bottom: 462px;
  border-bottom: 1px solid #42352e;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .articles {
    text-align: justify;
  }
}
.articles__wrapper {
  display: inline-block;
  width: 259px;
  height: 259px;
  background-color: #ececec;
  margin-bottom: 50px;
}
.articles__wrapper:not(last-child) {
  margin-right: 20px;
}
.articles__wrapper_skewed {
  -webkit-clip-path: polygon(95% 0, 100% 5%, 100% 100%, 5% 100%, 0% 95%, 0 0);
  clip-path: polygon(95% 0, 100% 5%, 100% 100%, 5% 100%, 0% 95%, 0 0);
}
.articles__wrapper_orange {
  background-color: #ffbd4a;
}
.articles__justify {
  display: inline-block;
  width: 100%;
}
footer {
  padding-top: 21px;
  padding-bottom: 33px;
}
.sites-menu {
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .sites-menu__item {
    display: inline-block;
  }
  .sites-menu__item:not(last-child) {
    margin-right: 74px;
  }
}
.sites-menu__picture_navigator {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 6px;
  vertical-align: middle;
}
.sites-menu__link {
  vertical-align: middle;
  line-height: 40px;
}
.sites-menu__link_navigator {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
@media only screen and (min-width: 1025px) {
  .sites-menu__link_navigator {
    font-size: 35px;
  }
}
.sites-menu__picture_newweb {
  display: inline-block;
  width: 210px;
  height: 41px;
  position: relative;
  top: 18px;
}
@media only screen and (min-width: 1025px) {
  .sites-menu__picture_newweb {
    width: 262px;
    height: 51px;
  }
}
.error404 {
  font-family: Verdana, Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1025px) {
  .error404 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.error404__error {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .error404__error {
    font-size: 60px;
    margin: 0 auto 40px;
  }  
}
.error404__message {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  .error404__message {
    font-size: 45px;
  }
}